/* Modifications for threading; tested under bbp-theme-compat and bbp-twentyten. */
#content .replylist {
	list-style: none;
	margin: 0;
}
#content .replylist table,
#content .replylist tbody,
#content .replylist tr,
#content .replylist td {
	border-collapse: collapse;
}
#content .replylist ul.children {
	list-style: none;
	margin: 0 0 0 2.0em ;
}
#content .replylist li,
#content .replylist li div.reply {
	padding-bottom: 0;
}
#content table.bbp-replies,
#content .replylist table.bbp-replies {
	margin: -1px 0 0 0;
}
#content .replylist .ucc-bbp-in-reply-to {
	padding: 0 1.625em 1.625em 1.625em;
	border-top: 0px;
	text-align: right;
}
#content .replylist .bbp-reply-form {
	margin-bottom: 0;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0;
	width: auto;
	position: relative;
}
#content .replylist #cancel-in-reply-to-link {
	position: absolute;
	right: 1.625em;
	top: 0.7em;
	padding: 0 5px;
	font-size: 10px;
	line-height: 16px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #1982d1;
	color: #fff;
	text-transform: uppercase;
}
#content fieldset.bbp-form, 
#container fieldset.bbp-form, 
#wrapper fieldset.bbp-form {
	border-color: #ddd;
}
